* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-image: url("../images/Services.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.contenNav ul {
  list-style-type: none;
  display: flex;
  padding: 20px;
  margin: 0px;
  background: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: space-around;
}